<a href="https://colab.research.google.com/github/Neharika88/NEHARIKA-K/blob/main/z_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from statsmodels.stats import weightstats as stests

In [ ]:
df = pd.read_csv('/content/defectdata1.csv')
df.head()

           Ia        Ib          Ic        Va        Vb        Vc
0 -170.472196  9.219613  161.252583  0.054490 -0.659921  0.605431
1 -122.235754  6.168667  116.067087  0.102000 -0.628612  0.526202
2  -90.161474  3.813632   86.347841  0.141026 -0.605277  0.464251
3  -79.904916  2.398803   77.506112  0.156272 -0.602235  0.445963
4  -63.885255  0.590667   63.294587  0.180451 -0.591501  0.411050

In [ ]:
df.shape

(19, 6)

In [ ]:
df[['Ia','Ib']].describe()

               Ia         Ib
count   19.000000  19.000000
mean   -57.949040  -4.671237
std     35.589987   6.829672
min   -170.472196 -14.329701
25%    -59.919968  -9.985317
50%    -43.294259  -5.388233
75%    -37.987293  -0.205607
max    -34.697925   9.219613

In [ ]:
ztest ,pvalue = stests.ztest(df['Ia'], x2=None, value=146)
print(float(pvalue))
print(ztest)

1.0406739196763791e-137
-24.978746014495044

In [ ]:
if pvalue<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted

In [ ]:
ztest,pval1=stests.ztest(df['Ia'],df['Ib'],value=100)
print(float(pval1))

6.709391576851294e-76

In [ ]:
if pval1<0.05:
    print("Null hyphothesis rejected , Alternative hyphothesis accepted")
else:
    print("Null hyphothesis accepted , Alternative hyphothesis rejected")

Null hyphothesis rejected , Alternative hyphothesis accepted